{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Proyecto Huellas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'images/icono_huella.png' %}" type="image/x-icon">
    
</head>
<body class="{% block body_class1 %}{% endblock %}">
  <!-- ENCABEZADO CON CIERRE DE SESIÓN -->
  <header class="position-relative text-white py-3 text-center">
    <h2>🩺 Proyecto Huellas</h2>
    <p>Sistema de Trazabilidad Obstetricia y RN</p>
    {% if user.is_authenticated %}
    <div class="position-absolute top-50 end-0 translate-middle-y me-3"> 
        {% if request.user.rol == "Matrona" %}
          <span class="text-white fw-semibold me-3">
            👩‍⚕️ Matrona: {{ request.user.nombre }}
          </span>
        {% endif %}
        <form action="{% url 'gestion_roles:logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-logout">Cerrar Sesión</button>
        </form>
    </div>
    {% endif %}
  </header>
  <!--Nav principal-->
  <header class="position-relative text-white py-3 text-center">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="position-absolute top 50 end 0 translate-middle-y me-3">
        <a class="navbar-brand fw-bold text-white" href="{% url 'neonatos:home' %}"></a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'neonatos:madre_list' %}">Madres</a></li>
            <!-- Importante: NO mostrar botones de crear Parto o RN para respetar flujo encadenado -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
    <main class="container my-4">
      {% block content %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<footer class="text-center text-white py-3 mt-5">
    © 2025 Proyecto Huellas — Sistema de Trazabilidad Obstetricia y RN
</footer>
</body>
</html>